@model IEnumerable<WebApplication3.Models.Procedure>

@{
    ViewData["Title"] = "Index";
    Patient currPatient = WebApplication3.Services.SessionExtensions.GetObjectFromJson<Patient>(Context.Session, "patient");
}

<h2>Index</h2>
@if (currPatient.ID == 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>
    
@foreach (var currProc in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => currProc.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => currProc.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => currProc.Time)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@currProc.ID">Details</a>
            @if (currPatient.ID == 1)
            {
                <a asp-action="Edit" asp-route-id="@currProc.ID">Edit</a>
                <a asp-action="Delete" asp-route-id="@currProc.ID">Delete</a>
            }
        </td>
    </tr>
}
</table>
