@model IEnumerable<WebApplication3.Models.ProcedureType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form action="">
    <input type="radio" name="groupBy" value="male"> Patient<br>
    <input type="radio" name="groupBy" value="female"> Procedure Type<br>
    <input type="radio" name="groupBy" value="other"> Duration
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anesthesia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anesthesia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
            <a asp-controller="Procedures" asp-action="Create" asp-route-ProcedureTypeID="@item.ID">Schedual New Prodcedure</a>
        </td>
    </tr>
}
</table>
