@model IEnumerable<WebApplication3.Models.Fan>

@{
    ViewData["Title"] = "Index";
}

<h2>Fans list</h2>

<table class="table">
<tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
    <th>
        @Html.DisplayNameFor(model => model.LastName)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
    <th>
        @Html.DisplayNameFor(model => model.Birthday)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.Seniority)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seniority)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
<p>
    <a asp-action="Create">Create New barak the king</a>
</p>
